:root{
    --pretoazul: #22223B;
    --cinzaescuro: #4A4E69;
    --cinzaclaro: #9A8C98;
    --marromclaro: 201, 173, 167;
    --bege: 242, 233, 228;
    --errorbg: lightpink;
    --texto: #ffffff;
    --dark: #00000000;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;;
}


.error-div{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: var(--errorbg);
    gap: 20px;
    padding: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: lighter;
    color: red;
    top: 200px;
}

body{
    background-color: var(--cinzaescuro);
    color: var(--texto);
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    background-color: var(--cinzaclaro);
    width: 300px;
    height: 300px;
    border: 2px solid var(--bege);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: 0px 5px 15px var(--dark);
    border-radius: 10px;
}

.logo{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.round{
    position: absolute;
    top: -50px;
}

.wrap-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    position: relative;
    width: 100%;
}

.btn-login{
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

.eye{
    position: absolute;
    right: 10px;
    opacity: 0.4;
    bottom: 5px;
    transition: all 200ms ease-in-out;
}


.wrap-input-label input{
    padding: 8px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--pretoazul);
    font-size: 18px;
    color: var(--texto);
}

input::placeholder{
    color: black;
    opacity: 0.6;
}